@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body{
  /* background-color: ; */
  /* background-image: url('https://unsplash.com/pt-br/fotografias/ferramenta-de-madeira-marrom-na-superficie-branca-veNb0DDegzE?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash'); */
}

.image {
  background-image: url('https://unsplash.com/pt-br/fotografias/ferramenta-de-madeira-marrom-na-superficie-branca-veNb0DDegzE?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash');

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
